form {
  padding: 15px;
  box-sizing: border-box;

  p {
    padding: 3px 0;
  }

  input[type=text] {
    width: 50%;
    min-width: 300px;
  }

  .genre-options {
    max-height: 100px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
  }

  button {
    margin-right: 5px;
  }
}
