$adventure: #009688;
$childrens: #CE7291;
$fantasy: #86CFD8;
$historical: #607D8B;
$mystery: #94B76B;
$non-fiction: #E6C150;
$poetry: #A02C40;
$sci-fi: #6B5A88;
$thriller: #616161;
$war: #795548;

$white: #FFF;
$black: #000;
$light-gray: #EFEFEF;
$gray: #CCCCCC;
$light-brown: #ECE4E0;

@import 'base';
@import 'form';
@import 'cover';
@import 'chart';
@import 'book';


/*
 * genre specific css
.adventure {}
.childrens {}
.fantasy {}
.historical {}
.mystery {}
.non-fiction {}
.poetry {}
.sci-fi {}
.thriller {}
.war {}
 */

.stats {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0;

  h2 {
    text-align: center;
  }

  > div {
    margin: 15px;
  }
}

.showcase {

  .info {
    margin: 10px 0;
  }
}

ul.genres, ul.authors {
  display: flex;
  flex-flow: row wrap;

  li {
    margin: 0 15px 15px 0;
  }
}