@import 'variables';

.axis {

  &.x {
    .tick {
      text {
        text-anchor: middle;
        font-size: 0.8em;
      }
    }
  }

  &.y {
    .tick {
      text {
        text-anchor:end;
      }
    }
  }

  line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}


.bar {
  text {
    text-anchor: middle;
  }
}

rect {
  shape-rendering: crispEdges;

  &.adventure {
    fill: $adventure;
  }

  &.dystopian {
    fill: $dystopian;
  }

  &.fantasy {
    fill: $fantasy;
  }

  &.historical {
    fill: $historical;
  }

  &.mystery {
    fill: $mystery;
  }

  &.non-fiction {
    fill: $non-fiction;
  }

  &.poetry {
    fill: $poetry;
  }

  &.sci-fi {
    fill: $sci-fi;
  }

  &.thriller {
    fill: $thriller;
  }

  &.drama {
    fill: $drama;
  }
}
