@import 'variables';

a .cover {
  text-decoration: none;
}

.cover {
  width: 150px;
  height: 200px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 15px 5px 0;
  background: #8BC34A;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
    background: inherit;
    opacity: 0.5;
  }

  &.add {
    background: $white;
    border: 2px dashed $gray;
  }

  &.add::before {
    opacity: 0;
  }

  .title {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 100%;
  }

  &.adventure {
    background: $adventure;
  }
  &.dystopian {
    background: $dystopian;
  }
  &.fantasy {
    background: $fantasy;
  }
  &.historical {
    background: $historical;
  }
  &.mystery {
    background: $mystery;
  }
  &.non-fiction {
    background: $non-fiction;
  }
  &.fiction {
    background: $fiction;
    color: $light-gray;

    a, a:visited {
      color: $light-gray;
    }
  }
  &.sci-fi {
    background: $sci-fi;
    color: $light-gray;

    a, a:visited {
      color: $light-gray;
    }
  }
  &.thriller {
    background: $thriller;
    color: $light-gray;

    a, a:visited {
      color: $light-gray;
    }
  }
  &.drama {
    background: $drama;
    color: $light-gray;

    a, a:visited {
      color: $light-gray;
    }
  }
}
