$adventure: #009688;
$dystopian: #CE7291;
$fantasy: #86CFD8;
$historical: #607D8B;
$mystery: #94B76B;
$non-fiction: #E6C150;
$fiction: #A02C40;
$sci-fi: #6B5A88;
$thriller: #616161;
$drama: #795548;

$white: #FFF;
$black: #000;
$light-gray: #EFEFEF;
$gray: #CCCCCC;
$light-brown: #ECE4E0;
