body {
  margin: 0; }

a, a:visited {
  color: #000;
  text-decoration: none; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  text-transform: capitalize; }

main {
  width: 100%;
  font-family: "Josefin Sans", sans-serif; }

.main {
  width: 80%;
  min-height: 80vh;
  margin: 0 auto; }

header {
  width: 100%;
  background: #ECE4E0;
  margin-bottom: 15px;
  text-align: center; }
  header a {
    text-decoration: none; }
  header .title {
    margin: 0;
    font-family: "Grand Hotel", sans-serif;
    font-size: 3em; }
  header nav a {
    text-decoration: underline;
    padding: 0 5px; }
  header ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
  header li {
    height: 5px;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    header li.adventure {
      background: #009688; }
    header li.childrens {
      background: #CE7291; }
    header li.fantasy {
      background: #86CFD8; }
    header li.historical {
      background: #607D8B; }
    header li.mystery {
      background: #94B76B; }
    header li.non-fiction {
      background: #E6C150; }
    header li.poetry {
      background: #A02C40; }
    header li.sci-fi {
      background: #6B5A88;
      color: #EFEFEF; }
    header li.thriller {
      background: #616161; }
    header li.drama {
      background: #795548;
      color: #EFEFEF; }

footer {
  text-align: center;
  padding: 5px 0;
  width: 100vw; }
  footer a {
    color: #000; }

.breadcrumbs a {
  margin: 0 5px;
  text-decoration: underline; }

form {
  padding: 15px;
  box-sizing: border-box; }
  form > p, form > div {
    margin: 5px 0; }
  form p {
    padding: 3px 0; }
  form input[type=text] {
    width: 50%;
    min-width: 300px; }
  form .genre-options {
    max-height: 100px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start; }
  form button {
    margin-right: 5px; }

a .cover {
  text-decoration: none; }

.cover {
  width: 100px;
  height: 125px;
  box-sizing: border-box;
  padding: 15px 5px 0;
  background: #8BC34A;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
  position: relative; }
  .cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
    background: inherit;
    opacity: 0.5; }
  .cover.add {
    background: #FFF;
    border: 2px dashed #CCCCCC; }
  .cover.add::before {
    opacity: 0; }
  .cover .title {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 100%; }
  .cover.adventure {
    background: #009688; }
  .cover.childrens {
    background: #CE7291; }
  .cover.fantasy {
    background: #86CFD8; }
  .cover.historical {
    background: #607D8B; }
  .cover.mystery {
    background: #94B76B; }
  .cover.non-fiction {
    background: #E6C150; }
  .cover.poetry {
    background: #A02C40;
    color: #EFEFEF; }
    .cover.poetry a, .cover.poetry a:visited {
      color: #EFEFEF; }
  .cover.sci-fi {
    background: #6B5A88;
    color: #EFEFEF; }
    .cover.sci-fi a, .cover.sci-fi a:visited {
      color: #EFEFEF; }
  .cover.thriller {
    background: #616161;
    color: #EFEFEF; }
    .cover.thriller a, .cover.thriller a:visited {
      color: #EFEFEF; }
  .cover.drama {
    background: #795548;
    color: #EFEFEF; }
    .cover.drama a, .cover.drama a:visited {
      color: #EFEFEF; }

.axis.x .tick text {
  text-anchor: middle; }

.axis.y .tick text {
  text-anchor: end; }

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.bar text {
  text-anchor: middle; }

rect {
  shape-rendering: crispEdges; }
  rect.adventure {
    fill: #009688; }
  rect.childrens {
    fill: #CE7291; }
  rect.fantasy {
    fill: #86CFD8; }
  rect.historical {
    fill: #607D8B; }
  rect.mystery {
    fill: #94B76B; }
  rect.non-fiction {
    fill: #E6C150; }
  rect.poetry {
    fill: #A02C40; }
  rect.sci-fi {
    fill: #6B5A88; }
  rect.thriller {
    fill: #616161; }
  rect.drama {
    fill: #795548; }

.books {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.book {
  width: 100px;
  margin: 5px; }
  .book .author {
    text-align: center; }

.info {
  margin: 10px 0; }

.genre-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  .genre-bar .genre {
    height: 5px; }
    .genre-bar .genre.adventure {
      background: #009688; }
    .genre-bar .genre.childrens {
      background: #CE7291; }
    .genre-bar .genre.fantasy {
      background: #86CFD8; }
    .genre-bar .genre.historical {
      background: #607D8B; }
    .genre-bar .genre.mystery {
      background: #94B76B; }
    .genre-bar .genre.non-fiction {
      background: #E6C150; }
    .genre-bar .genre.poetry {
      background: #A02C40; }
    .genre-bar .genre.sci-fi {
      background: #6B5A88; }
    .genre-bar .genre.thriller {
      background: #616161; }
    .genre-bar .genre.drama {
      background: #795548; }

/*
 * genre specific css
.adventure {}
.childrens {}
.fantasy {}
.historical {}
.mystery {}
.non-fiction {}
.poetry {}
.sci-fi {}
.thriller {}
.drama {}
 */
.stats {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 10px 0; }
  .stats h2 {
    text-align: center; }
  .stats > div {
    margin: 15px; }

ul.genres, ul.authors {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  ul.genres li, ul.authors li {
    margin: 0 15px 15px 0; }
