
.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 100px;
    margin: 5px;
}

.cover {
    width: 100px;
    height: 125px;
    box-sizing: border-box;
    padding: 15px;
    background: #8BC34A;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    position: relative;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
    background: inherit;
    opacity: 0.5 ;
}

.cover.add {
    background: #efefef;
    cursor: pointer;
}

label {
    display: block;
}

.author {
    text-align: center;
}

.x.axis .tick text {
    text-anchor: middle;
}

.y.axis .tick text {
    text-anchor: end;
}

.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

rect {
    shape-rendering: crispEdges;
}